<div id="app">
  	<h1>Movie App</h1>

	<% if cookies['token'] %>
        <a href="#new_movie" class="btn btn-primary">New Movie</a>
    <% end %>

  	<div class="row-movies" id="row-movies"></div>

</div>